*.DS_Store
/cmake-build-debug/
Assembly-CSharp.csproj
Jam IT.sln
Assembly-CSharp-Editor.csproj

*.meta

*.csproj

*.meta

*.meta

Jam IT/ProjectSettings/ProjectVersion.txt

Jam IT/ProjectSettings/ProjectVersion.txt
